.TcHmi_Controls_Helpers_Popup {
    --tchmi-background: #ffffff;
    --tchmi-text-color: #4c6374;
    --tchmi-inset-shadow-invalid: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.02), inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3),
        inset 0px 0px 7px 3px rgba(255, 0, 0, 0.3);
    background: var(--tchmi-background);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.TcHmi_Controls_Helpers_Popup-header-container > h1 {
    font-size: 18px;
    font-weight: normal;
    color: var(--tchmi-text-color);
}
.TcHmi_Controls_Helpers_Popup-header-container > h1:not(:empty) {
    margin-right: 10px;
}

.TcHmi_Controls_Helpers_Popup-header-container > a {
    width: 26px;
    height: 26px;
    background-image: url('Images/close.svg');
}

.TcHmi_Controls_Helpers_Popup-header-container > a:active:hover {
    background-image: url('Images/close-active.svg');
}

.TcHmi_Controls_Helpers_Popup-content {
    color: var(--tchmi-text-color);
}

.TcHmi_Controls_Helpers_Popup div.with-validation.invalid .TcHmi_Controls_Beckhoff_TcHmiInput-template-input {
    box-shadow: var(--tchmi-inset-shadow-invalid);
}
